SUBSYSTEM=="usb", ACTION=="bind", ENV{DEVTYPE}=="usb_device", RUN+="/usr/bin/added-usb" 
SUBSYSTEM=="usb", ACTION=="remove", ENV{DEVTYPE}=="usb_device", RUN+="/usr/bin/removed-usb"  

